<mat-toolbar style="background-color: rgb(239, 246, 253); border-bottom: 1px solid rgba(216, 216, 212, 0.185); color:#40a9ff" role="header">
  <mat-toolbar-row >
    <span style="margin-left:10%">
      <mat-icon>mood</mat-icon>
    </span>
    <span>Polling App</span>
    <mat-nav-list style="display: flex; flex-direction: row; justify-content: flex-end; width: 100%; margin:0 10%;">
      <mat-list-item>
        <a routerLink="login">Login</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="register">Register</a>
      </mat-list-item>
      <mat-list-item>
        <a class="active" routerLink="/"><mat-icon>home</mat-icon></a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="poll"><mat-icon>poll</mat-icon></a>
      </mat-list-item>
      <mat-list-item>
        <a [matMenuTriggerFor]="dropDown"><mat-icon>person</mat-icon></a>
        <mat-menu #dropDown="matMenu" [overlapTrigger]="false">
          <div style="line-height: 0.3em; margin:10px">
              <p class="text-nowrap font-weight-normal">Khasanboy Akbarov</p>
              <p style="font-size: 14px; color:rgb(104, 101, 101)">@tsar</p>
          </div>
          <hr>
          <button mat-menu-item routerLink="/profile">Profile</button>
          <button mat-menu-item routerLink="/logout">Logout</button>
        </mat-menu>
      </mat-list-item>
    </mat-nav-list>
  </mat-toolbar-row>
</mat-toolbar>

<!--
     <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
    <div class="container">
      <a class="navbar-brand" style="color:#40a9ff;" routerLink="/">Polling App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/poll">Poll</a>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <div style="margin:8px; line-height: 0.3em;">
                  <p class="text-nowrap font-weight-normal">Khasanboy Akbarov</p>
                  <p style="font-size: 14px; color:rgb(104, 101, 101)">@tsar</p>
              </div>
           

              <hr>
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   
 -->